os:
  - linux
  - osx
  - windows
language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
script:
  - cargo build --verbose --no-default-features
  - cargo build --verbose --all-features
  - cargo test --verbose --all-features
