[package]
name = "plexus"
version = "0.0.11"
edition = "2018"
authors = ["Sean Olson <olson.sean.k@gmail.com>"]
license = "MIT"
readme = "../README.md"
homepage = "https://plexus.rs"
repository = "https://github.com/olson-sean-k/plexus"
description = "Polygonal mesh processing."
keywords = [
    "polygon",
    "mesh",
    "topology",
    "geometry",
    "half-edge"
]
categories = [
    "algorithms",
    "data-structures",
    "graphics",
    "rendering::data-formats"
]

[package.metadata.docs.rs]
# Enable all featues so that trait implementations for types from commonly used
# linear algebra crates are shown.
all-features = true
# Enable KaTex support.
rustdoc-args = [
    "--html-in-header",
    "doc/katex-header.html"
]

[[example]]
name = "sphere"
path = "../examples/sphere.rs"
required-features = ["geometry-nalgebra"]

[[example]]
name = "subdivide"
path = "../examples/subdivide.rs"
required-features = ["geometry-nalgebra"]

[[example]]
name = "teapot"
path = "../examples/teapot.rs"
required-features = ["encoding-ply", "geometry-nalgebra"]

[[example]]
name = "zip"
path = "../examples/zip.rs"
required-features = ["geometry-nalgebra"]

[lib]
name = "plexus"

[features]
default = []
encoding-ply = ["ply-rs"]
geometry-cgmath = ["cgmath", "decorum", "theon/geometry-cgmath"]
geometry-mint = ["decorum", "mint", "theon/geometry-mint"]
geometry-nalgebra = ["decorum", "nalgebra", "theon/geometry-nalgebra"]

[dependencies]
arrayvec = "^0.5.0"
derivative = "^1.0.2"
either = "^1.5.0"
fnv = "^1.0.6"
indexmap = "^1.2.0"
itertools = "^0.8.0"
num = "^0.2.0"
slotmap = "^0.4.0"
smallvec = "^0.6.9"
thiserror = "^1.0.3"
typenum = "^1.10.0"

cgmath = { version = "^0.17.0", optional = true }
decorum = { version = "^0.1.1", optional = true }
mint = { version = "^0.5.0", optional = true }
nalgebra = { version = "^0.18.0", optional = true }
ply-rs = { version = "^0.1.2", optional = true }

[dependencies.fool] # Unstable.
git = "https://github.com/olson-sean-k/fool.git"
rev = "2543372f141eef929e1b4f126343933b5ce64c1e"

[dependencies.theon] # Unstable.
git = "https://github.com/olson-sean-k/theon.git"
rev = "811ea063ffae86beeba6b5c6a58c26c1065ae8a9"
default-features = false
features = ["array"]

[dev-dependencies]
decorum = "^0.1.1"
nalgebra = "^0.18.0"
# This dependency must be removed when publishing. Cargo does not allow
# non-published dependencies, even if they are for development only. See the
# following issues:
#
#   https://github.com/rust-lang/cargo/issues/4242
#   https://github.com/rust-lang/cargo/issues/4663
#
pictor = { path = "../pictor" }
